In [5]:
import pyspark
import pandas as pd

In [3]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/21 13:26:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
member = pd.DataFrame({'MemberNumber' : [112, 113, 115, 118], 'SSN': [1,2,3,4], 'FirstName': ['joe', 'jane', 'bill', 'sam']\
                      , 'LastName': ['brown', 'johnson', 'martinez', 'gutierez']})

In [8]:
loan = pd.DataFrame({'MemberNumber' : [113, 118, 118], 'LoanId': [1,1,2], \
                     'Description': ['Personal Loan', 'Auto Loan', 'Mortgage'], \
                     'Balance': [20000,100000, 1000000], 'Payment': [ 500, 1200, 5000]})

In [9]:
loan = spark.createDataFrame(loan)
member = spark.createDataFrame(member)

In [10]:
loan.createOrReplaceTempView("loan")

In [11]:
member.createOrReplaceTempView("member")

In [12]:
spark.sql(""" select * from loan""")

DataFrame[MemberNumber: bigint, LoanId: bigint, Description: string, Balance: bigint, Payment: bigint]

In [14]:
spark.sql("""select * from member as m right join loan as l on m.MemberNumber = l.MemberNumber""").show()

+------------+---+---------+--------+------------+------+-------------+-------+-------+
|MemberNumber|SSN|FirstName|LastName|MemberNumber|LoanId|  Description|Balance|Payment|
+------------+---+---------+--------+------------+------+-------------+-------+-------+
|         113|  2|     jane| johnson|         113|     1|Personal Loan|  20000|    500|
|         118|  4|      sam|gutierez|         118|     1|    Auto Loan| 100000|   1200|
|         118|  4|      sam|gutierez|         118|     2|     Mortgage|1000000|   5000|
+------------+---+---------+--------+------------+------+-------------+-------+-------+

In [15]:
spark.sql("""select MemberNumber, sum(Balance) as sum from Loan as L group by MemberNumber""").show()

+------------+-------+
|MemberNumber|    sum|
+------------+-------+
|         113|  20000|
|         118|1100000|
+------------+-------+